@page "/"
@using Mhazami.BlazorComponents.Components
@using Mhazami.BlazorComponents.Models


@* <LoadingButton Text="Save" EnableLoading="true" /> *@


@* <SwitchButton Value="true" Style="SwitchShape.circle" /> *@
@* <RadioButton Items="@people" Name="test" TextField="Name" ValueField="Id" OnChange="Onchecked" Value="3" />
 *@

@* <div style="width:250px;margin-bottom:20px">
    <CheckboxList Items="@people"
                  TextField="Name"
                  OnSelect="OnSelect"
                  OnSelectList="Onchecked"
                  SelectedList="@people2"
                  ValueField="Id" />
</div> *@




@* <div style="width:250px;margin-bottom:20px">
    <Checkbox IsChecked="true" DisplayName="Iran" OnChecked="Onchecked" />
</div>
 *@



@* <div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <TreeView Model="@person" HasCheckBox="false"  />
</div> *@
@*
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DropDownList Items="@people" TextField="Name" ValueField="Id" MuliSelect="true" DisabledItems="@people2" />
</div>
 *@

@*
<h1>German Date Picker</h1>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Date Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Date" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Date Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.DateTime" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Time" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Month Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Month" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Day of week Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Day" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Year" />
</div>
 *@

@* <div style="width:280px;margin-bottom:20px">
    <label style="padding:5px 0">Only Month Format</label>
    <DatePicker CalendarType="CalendarType.Hijri" DatePickerType="DatePickerType.Date" />
</div> *@
