@page "/"
@using Mhazami.BlazorComponents.Components
@using Mhazami.BlazorComponents.Models








@* <Tab SelectedTab="tab1">
    <TabItem Title="tab1">
        <p> conten of tab 1</p>
    </TabItem>
    <TabItem Title="tab2">
        <p> conten of tab 2</p>
    </TabItem>
</Tab>
 *@
@*
<Tab SelectedTab="Group 2">
    <TabItem Title="Group 1">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
    <TabItem Title="Group 2">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
    <TabItem Title="Group 3">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
</Tab>
 *@




@*  <SwitchButton Value="true" Style="SwitchShape.circle" />
<SwitchButton Value="true" Style="SwitchShape.Square" /> *@


@* <ExtendedPanel Title="Near east technology">
    <Body>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </Body>
</ExtendedPanel>
<ExtendedPanel Title="Near east Bank">
    <Body>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </Body>
</ExtendedPanel> *@



@* <RadioButton Items="@people" Name="test" TextField="Name" ValueField="Id" OnChange="Onchecked" Value="3" /> *@

@*
<div style="width:250px;margin-bottom:20px">
    <CheckboxList Items="@people"
                  TextField="Name"
                  SelectedList="@people2"
                  ValueField="Id" />
</div>
 *@


@*
<div style="width:250px;margin-bottom:20px">
    <Checkbox DisplayName="Remember me" CssClass="my-style" />
</div> *@




<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <TreeView Model="@person" HasCheckBox="false" Updateble="true">
        <div style="width:250px;margin-bottom:20px">
            <label style="padding:5px 0">Only Year Format</label>
            <DropDownList Items="@people" TextField="Name" MuliSelect="true" ValueField="Id" />
        </div>
    </TreeView>

</div>

@*

 <div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Date Time Format</label>
    <DatePicker CalendarType="CalendarType.Turkish" OnChangeAction="test" DatePickerType="DatePickerType.Day"  />
</div>
 *@

@* <div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DropDownList Items="@people" TextField="Name" MultiSelect="true" ValueField="Id"  />
</div>
 *@



@* <LoadingButton Text="Save" CssClass="my-style" EnableLoading="true" OnClick="Click" /> *@
@* <Pagination CurrentPage="1" PaseSize="10" TotalPages="25" OnPageChange="OnChange" /> *@




@* <ProgressBar CssClass="my-style" ProgressBarWidth="70"/> *@

@code {
  
}
