@page "/"
@using Mhazami.BlazorComponents.Components
@using Mhazami.BlazorComponents.Models



<Tab SelectedTab="Group 2">
    <TabItem Title="Group 1">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
    <TabItem Title="Group 2">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
    <TabItem Title="Group 3">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </TabItem>
</Tab>















@* <LoadingButton Text="Save" EnableLoading="true" />

<SwitchButton Value="true" Style="SwitchShape.circle" />
<SwitchButton Value="true" Style="SwitchShape.Square" /> *@


@* <ExtendedPanel Title="Near east technology">
    <Body>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </Body>
</ExtendedPanel>
<ExtendedPanel Title="Near east Bank">
    <Body>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in
            the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </Body>
</ExtendedPanel> *@


@*
<RadioButton Items="@people" Name="test" TextField="Name" ValueField="Id" OnChange="Onchecked" Value="3" />

 *@
@* <div style="width:250px;margin-bottom:20px">
    <CheckboxList Items="@people"
                  TextField="Name"

                  SelectedList="@people2"
                  ValueField="Id" />
</div> *@




@* <div style="width:250px;margin-bottom:20px">
    <Checkbox IsChecked="true" DisplayName="Iran" />
</div>
 *@



@* <div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <TreeView Model="@person" HasCheckBox="true"  />
</div> *@
@*
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DropDownList Items="@people" TextField="Name" ValueField="Id" MuliSelect="true" DisabledItems="@people2" />
</div>
 *@

@*
<h1>German Date Picker</h1>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Date Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Date" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Date Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.DateTime" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Time Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Time" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Month Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Month" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Day of week Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Day" />
</div>
<div style="width:250px;margin-bottom:20px">
    <label style="padding:5px 0">Only Year Format</label>
    <DatePicker CalendarType="CalendarType.German" DatePickerType="DatePickerType.Year" />
</div>
 *@

@* <div style="width:280px;margin-bottom:20px">
    <label style="padding:5px 0">Only Month Format</label>
    <DatePicker CalendarType="CalendarType.Hijri" DatePickerType="DatePickerType.Date" />
</div> *@
