<style>
    @@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
</style>

@if (Model is not null)
{
    <div>
        <ul class="mh-treeview">
            @foreach (var node in MainNodes)
            {
                <li>
                    <div @onmouseover="()=>{ node.ShowIcons = true; }" @onmouseout="()=>{node.ShowIcons = false;}">
                        @if (node.HasChildren)
                        {
                            <span class="mh-treeview-icon" @onclick="()=>Expend(node.Id)">
                                @if (node.IsExpanded)
                                {
                                    @((MarkupString)UnExpendedIcon)
                                }
                                else
                                {
                                    @((MarkupString)ExpendedIcon)
                                }
                            </span>
                        }
                        else
                        {
                            <span class="mh-treeview-icon"></span>
                        }
                        @if (HasCheckBox)
                        {
                            <input type="checkbox" checked="@CheckedList.Exists(x=>x.Id==node.Id)" class="mh-treeview-check form-check-input" id="@node.Id" @onchange="()=>CheckedNode(node)" />
                        }
                        <span class="mh-treeview-text">
                            @node.Title
                        </span>
                        @if (Updateble && node.ShowIcons)
                        {
                            <span class="mh-treeview-window-icons-box">
                                <span class="mh-treeview-window-icon tree-icon-edit" @onclick="()=>UpdateNode(node)">
                                    <i class="fal fa-edit"></i>
                                </span>
                                @if (Removable)
                                {
                                    <span class="mh-treeview-window-icon tree-icon-delete" @onclick="()=>DeleteNode(node)">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                }
                            </span>
                        }
                    </div>
                    @if (node.HasChildren && (node.IsExpanded || ExpendAll))
                    {
                        <TreeViewChild Model="node.Children"
                                   IsOndemand="@IsOndemand"
                                   ExpendedIcon="@ExpendedIcon"
                                   UnExpendedIcon="@UnExpendedIcon"
                                   OndemandEvent="LoadOndemand"
                                   HasCheckBox="@HasCheckBox"
                                   CheckedNodeCallback="CheckedNode"
                                   Nodes="@Model"
                                   CheckedList="@CheckedList"
                                   Updateble="@Updateble"
                                   Removable="@Removable"
                                   OnUpdate="OnUpdate"
                                   OnDelete="OnDelete"
                                   Parent="@node.Id" />
                    }
                </li>
            }
        </ul>
    </div>
    @if (Removable && SelectedNodeForDelete is not null)
    {
        <div class="tree-delete-confirm-box">
            <div class="tree-delete-confirm-text">
                <span>
                    Are you sure to delete @(SelectedNodeForDelete.Title)?
                </span>
            </div>
            <div>
                <span class="tree-delete-confirm-btn tree-delete-confirm-btn-danger" @onclick="()=>ConfirmDelete(true)">Yes</span>
                <span class="tree-delete-confirm-btn tree-delete-confirm-btn-default" @onclick="()=>ConfirmDelete(false)">No</span>
            </div>
        </div>
    }
    @if (Updateble && OpenUpdateModal)
    {
        <div class="mh-treeview-update-modal">
        </div>
        <div class="mh-treeview-update-modal-body">
            <span class="close-update-modal" @onclick="CloseModal">
                <i class="far fa-times"></i>
            </span>
            @ModefyForm
        </div>
    }
}
